@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0; font-family: "微软雅黑"; font-size: 12px;}
a{text-decoration: none;}
li{list-style: none;}
img{border: none;}
.fl{float: left;}
.fr{float: right;}
.clear{width: 0px; height: 0px; clear: both;}
.center{width: 1100px; margin: 0 auto;}

.top{width: 100%; height: 110px; background: #fff;}
.log1{margin-left: 100px; margin-top: 10px; float: left;}
.log2{margin-left: 50px; margin-top: 25px; float: left;}



.top ul{ width: 500px; height: 50px;  float:left; margin-top: 5px; margin-left: 150px; }
.top ul li{float: left; margin-left: 5px;}
.top ul li a:hover{color: #f00;}
.daohang .bj{width: 100%; height: 40px; background: #1D1D1D;}
.daohang .bj .dh1{width: 810px; height: 40px;}
.daohang ul li{float: right; margin-left:  12px; margin-top: -10px;}
.daohang ul li a{font-size: 16px; color: #fff;}
.daohang ul li:hover{background: #ED145B;}
.gaohang li ul{ width: 116px; height:176px; background: #ccc; display: none;}
.daohang li ul li a{background: none;}
#banner{height: 350px;background: url(../images/banner.jpg) center center;}
main{width: 100%; height:1810px; background: #F7F7F7;}
main .nr{width: 1100px;}
main .top1{margin-left: 300px;}
main .nr .nr1{width: 530px; height: 230px; float: right; margin-left: 20px;}
main .nr .nr1 ul{margin-left: 300px;float: right;margin-top: 50px;}
main .nr .nr1 ul li .a1{font-size: 20px; color: #ccc;}
main .nr .nr1 ul li .a2{font-size: 30px; color: #000;}
main .nr .nr1 ul li .a3{font-size: 20px; color: #ccc;}
main .nr .nr1 ul li img:hover{transform: scale(1.2); transition: 1s;}
main .nr .nr1 ul li a:hover{color: #E81A62;}
main .nr .nr2 img:hover{transform: scale(1.2); transition: 1s;}
main .nr .nr2{float: left;margin-top: -165px;}
#zj{margin-left: 90px;}
main  .nr2 .wenzi{width: 466px; height: 350px; border:2px solid #000; float: right; position: relative;}
main  .nr2 .wenzi .o1{margin-left: 120px; margin-top: -10px; }
main  .nr2 .oo1:hover{transform: scale(1.1); transition: 1s;}
main  .nr2 .wenzi .o2{margin-top: 260px; margin-left: -280px;position: absolute;}
main  .nr2 .wenzi .o3{margin-top: 305px;margin-left: -280px;position: absolute;}
main  .nr2 .wenzi .o4{margin-left: 20px; margin-top: 270px;position: absolute;}
main  .nr2 .wenzi .o5{margin-left: 20px; margin-top: 310px;position: absolute;}
main  .nr2 .wenzi .o4:hover{transform: scale(1.2); transition: 1s;}
main  .nr2 .wenzi p:hover{color: #ED155B;}
main .nr2 p{font-size: 18px; color: #000;margin: 50px;position: absolute;}
main .dibu{height: 300px;}
main .dibu .ditop{height: 50px; background: #2F2F2F;}
main .dibu .ditop li{float: left; color: #fff; margin-left: 50px; margin-top: 15px;}
main .dibu .ditop li:hover{background: #ED155B}
main .dibu .ditop2{width: 100%; height: 214px; background: #414141; position: relative;}
main .dibu .ditop2 .end11{margin-left: 200px; color: #fff; margin-top: 40px; position: absolute;}
main .dibu .ditop2 img{margin-top: 50px;}
main .nr111{width: 300px; height: 440px; background: blue}

 

